{% extends 'plantilla.html' %}

{% block body %}
    
    <h1 class="display-1 text-center">Album a editar:</h1>
    <br>
    <br>
    <form action="/Actualizar/{{album.0}}" method="POST" class="text-center">
        <label for="txtTitulo">Título:</label>
        <input type="text" id="txtTitulo" name="txtTitulo" value="{{album.1}}">
        <label for="txtArtista">Artista:</label>
        <input type="text" id="txtArtista" name="txtArtista" value="{{album.2}}">
        <label for="txtAnio">Año:</label>
        <input type="number" id="txtAnio" name="txtAnio" value="{{album.3}}">
        <button type="submit" class="btn btn-warning">Actualizar</button>
    </form>
    
{% endblock %}

