{% extends 'plantilla.html' %}
{% block body %}
    
    <h1 class="display-1 text-center">Eliminar Álbum</h1>
    <p class="text-center">¿Estás seguro de eliminar el álbum "{{ album[1] }}" de "{{ album[2] }}"?</p>
    <form action="{{ url_for('eliminar', id=album[0]) }}" method="POST" class="text-center">
        <input type="submit" name="confirmar" value="Sí" type="button" class="btn btn-outline-info">
        <a href="{{ url_for('index') }}" class="btn btn-outline-danger">No</a>
    </form>

    <h1 class="display-1 text-center">Detalles del Álbum</h1>
    <p class="text-center">Título: {{ album[1] }}</p>
    <p class="text-center">Artista: {{ album[2] }}</p>
    <p class="text-center">Año: {{ album[3] }}</p>
    
{% endblock %}
